*{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

body{
    width: 100%;
}

.navbar{
    height: 50px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navbar a {
    margin: 30px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.activo{
    background-color: rgb(141, 5, 62);
    padding: 13px;
}

.grid-container{
    display: grid;
    width: 100%;
    grid-template-columns: 70% 30%;
    gap: 40px;
}

.cabecera{
    width: 100%;
}

.entrada_blog,
.entrada_blog2 {
    border: 1px solid red;
    display: block;
    margin-bottom: 20px;
    height: 250px;
    padding: 20px;
}

p{
    width: 70%;
    text-align: justify;
    color: black;
    
}

.foto1{
    display: block;
    float: left;
    /* margin-left: 30px; */
    margin-right: 30px;
}

.foto2{
      display: block;
    float: right;
    margin-left: 30px;
    /* margin-right: 30px; */
}

.titulo2{
  text-align: right;  
}

.enlace{
    display: block;
    text-decoration: none;
    font-size: 20px;
}

.boton{         
    background-color: darkblue;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    width: 80px;
    height: 20px;
    /* vertical-align: middle; */
    padding: 10px;
    justify-content: center;
    float: right;
    margin-top: -40px;
    margin-right: 150px;
    border-radius: 20px;
    padding-top: 20px;


}

.boton2{
    background-color: darkblue;
    color: white;
    text-decoration: none;
    margin-top: 40px;
    display: block;
    width: 80px;
    height: 20px;
    /* vertical-align: middle; */
    padding: 10px;
    justify-content: center;
    border-radius: 20px;
    padding-top: 20px;
    
}

.autor{
    background-color: orangered;
    width: 50%;
    border-radius: 5px;
    padding:20px;
    margin-top: 20px;
    text-align: center;
    
   
}


.texto-autor{
    text-align: justify;
    width: 100%;
    margin-top: 20px;

}




.post{
     background-color: orangered;
    width: 50%;
    border-radius: 5px;
    padding:20px;
    text-align: center;
    margin-top: 20px;
    color: black;
}

.enlace{
    color: black;
}

.grid-container-footer{
    display: grid;
    background-color: rgb(200, 21, 200);
    color: white;
    grid-template-areas:
    "nosotros webs"
    "copyright copyright" ;
    grid-template-columns: 50% 50%;


}

.webs{
    grid-area: webs;
    text-align: right;
    padding-right: 40px;
}

.sobre-nosotros{
    grid-area: nosotros;
    padding-left: 40px;
}

.copyright {    
    grid-area: copyright;
    background-color: blueviolet;
    padding-bottom: 20px;
    border: 1px solid yellow;
    width: 100%;
    text-align: center;


}

.texto-copyright{
    padding-top: 20px;

}

.grid-container2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 90%;
    margin-inline: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}



 .icono{
    /* float: left; */
    display: inline-block;
    margin-right: 10px;
    vertical-align: text-bottom;
 }    
 

.telefono,
.email{
    display: inline-block;
    align-items: baseline;
} 

.team{
    background-color: rgb(255, 65, 110);
}
